body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

main {
    padding: 20px;
}

.search-container {
    text-align: center;
    margin-bottom: 20px;
}

#searchInput {
    padding: 5px;
    margin-right: 10px;
}

#newsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.news-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.news-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.news-description {
    margin-bottom: 10px;
}

.news-source {
    font-style: italic;
}
