*{
    padding: 0;
    margin: 0;
  
  }
 
 
  .homeContainer{
 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('newsbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;

  }
  



  #aboutContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('aboutus.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
  }

